@model CervusDama.Data.Model.ProfileModel.PasswordChangeModel

<div class="alert" id="PasswordUpdate-alert">
	<div class="message"></div>
	<div class="close">
		<i class="cdi cdi-no-alt"></i>
	</div>
</div>

@using (Html.BeginForm("PasswordUpdate", "Profile", FormMethod.Post, new { id = "PasswordUpdate" }))
{
	@Html.AntiForgeryToken()

	<!--Form item-->
	<div class="form-item">
		@Html.LabelFor(m => m.OldPassword)
		<div class="form-control">
			@Html.PasswordFor(m => m.OldPassword, new { placeholder = "Şu anki şifreniz.." })
		</div>
	</div>
	<!--Form item-->
	<!--Form item-->
	<div class="form-item">
		@Html.LabelFor(m => m.Password)
		<div class="form-control">
			@Html.PasswordFor(m => m.OldPassword, new { placeholder = "Yeni şifreniz.." })
		</div>
	</div>
	<!--Form item-->
	<!--Form item-->
	<div class="form-item">
		@Html.LabelFor(m => m.RePassword)
		<div class="form-control">
			@Html.PasswordFor(m => m.RePassword, new { placeholder = "Yeni şifrenizi onaylayın.." })
		</div>
	</div>
	<!--Form item-->
	<!--Form item-->
	<div class="form-item">
		<div class="form-control" style="text-align:right">
			<button class="btn btn-primary">Bilgileri Kaydet</button>
		</div>
	</div>
	<!--Form item-->
}