@model IEnumerable<CervusDama.Data.Model.CategoryModel.CategoryAllListModel>

<ul class="ct-menu">
	<li>
		<a href="@Url.RouteUrl("Categories")"><i class="cdi cdi-admin-site-alt2"></i>&nbsp;&nbsp;Tüm Kategoriler</a>
	</li>

	@foreach (var item in Model)
	{
		if (item.SubCategories.Count() > 0)
		{
			<li>
				<a href="javascript:void(0)"><i class="@item.Icon" style="color: @item.Color !important;"></i>&nbsp;&nbsp;@item.Title</a>
				<ul class="sub-menu">
					@foreach (var subItem in item.SubCategories)
					{
					<li>
						<i class="@subItem.Icon"></i>&nbsp;&nbsp;&nbsp;
						@if (int.Parse(ViewBag.Tip.ToString()) == 1)
						{
							<a href="@Url.RouteUrl("Articles", new { slug = subItem.Slug })">@subItem.Title</a>
						}
						else
						{
							<a href="@Url.RouteUrl("CategoryDetail", new { slug = subItem.Slug })">@subItem.Title</a>
						}
					</li>
					}
				</ul>
			</li>
		}
	}

</ul>