@model CervusDama.Data.Model.UserModel.ChangePasswordModel
@{
	ViewBag.Title = "Cervus Dama | Yeni Şifre Oluştur";
	Layout = "~/Views/Shared/_MainLayouth.cshtml";
}


<div class="page-container">

	<h1 class="page-title">Yeni Şifre Oluşturun</h1>

	<div class="forgot-text" style="text-align:center;">
		Aşağıdaki form ile yeni şifre oluşturunuz..
	</div>

	<div class="forgot-form">
		@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { id = "forgot-form" }))
		{

			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)
			@Html.HiddenFor(m => m.UserKey)
			@Html.HiddenFor(m => m.RePasswordKey)

			<div class="form-item">
				<div class="form-control">
					@Html.PasswordFor(m => m.Password, new { placeholder = "Yeni Şifreniz.." })
				</div>
			</div>

			<div class="form-item">
				<div class="form-control">
					@Html.PasswordFor(m => m.RePassword, new { placeholder = "Yeni Şifre (Tekrar).." })
				</div>
			</div>

			<div class="form-item" id="message" style="display:none"></div>

			<div class="form-item" style="text-align:center;">
				<button class="btn btn-primary">Yeni Şifre Oluştur</button>
			</div>
		}
	</div>

</div>

<script>

	$(document).ready(function () {
		$('#forgot-form').submit(function () {

			$.ajax({
				type: 'POST',
				url: '/User/ForgotPasswordCallBack',
				data: $(this).serialize(),
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				success: function (data) {
					if (Array.isArray(data.Message)) {

						var html = '';

						$.each(data.Message, function (i, item) {
							html += '<span class="' + (data.Status ? 'success' : 'error') + '">' + item + '</span>';
						});

						$('#message').html(html).show();
					} else {
						$('#message').html('<span class="' + (data.Status ? 'success' : 'error') + '">' + data.Message + '</span>').show();
					}
				}
			});

			return false;
		});
	});

</script>