@model IEnumerable<CervusDama.Data.Model.ArticleModel.ArticleBigListModel>
@{
	ViewBag.Title = "Etiket Detayı";
	Layout = "~/Views/Shared/_MainLayouth.cshtml";
}

<div class="page-container">
	@if (Model.Count() > 0)
	{
		<h1 class="page-title">#@Model.First().SelectedTicket ile etiketli makaleler.</h1>
		<div class="ticket-detail">
			@foreach (var item in Model)
			{
				<!--Blog İçerik-->
				<div class="form-post-card">
					<div class="image">
						<img src="~/uploads/medium/@item.Image" />
					</div>
					<div class="title"><a href="@Url.RouteUrl("ArticleDetail", new {userName = "@" + item.UserInfo.Slug, slug = item.Slug })">@item.Title</a></div>
					<div class="info-text">
						@item.Description
					</div>
					<div class="user-info">
						<div class="profile">
							<img src="~/Uploads/profile/@(item.UserInfo.Slug).png" alt="profile">
							<div class="author-content">
								<a href="@Url.RouteUrl("UserProfile", new { slug = item.UserInfo.Slug })">@item.UserInfo.FirstName @item.UserInfo.LastName</a>
								<small>@item.CreateAt.ToString("dd MMMM yyyy HH:mm")</small>
							</div>
						</div>
						<div class="share">
							<a href="#"><i class="cdi cdi-visibility"></i>&nbsp;&nbsp;@item.Hit</a>
						</div>
					</div>
				</div>
				<!--Blog İçerik-->
			}
		</div>
	}
	else
	{
		<h1 class="page-title">Etiket için makale bulunamadı.</h1>

		<div class="no-content">
			Seçilen etiket için henüz makale eklenmemiş.
		</div>
	}

</div>