@model IEnumerable<CervusDama.Data.Model.ArticleModel.ArticleListModel>
@using CervusDama.Admin.Helpers
@{
	ViewBag.Title = "Yazılar";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="header">
	<div class="title"><i class="fa fa-signature fa-lg"></i> YAZILAR</div>
	<div class="input">
		<a href="@Url.RouteUrl("ArticleInsert")">Yazı Ekle</a>
	</div>
</div>
<div class="content">

	<div class="alert" id="alert">
		<div class="message"></div>
		<div class="close"><i class="fa fa-times"></i></div>
	</div>

	<table class="data-table strip hovered">
		<thead>
			<tr>
				<th class="check">#</th>
				<th>Başlık</th>
				<th>Ekleyen</th>
				<th>Yorum</th>
				<th>Okunma</th>
				<th>Oylama</th>
				<th class="date">Eklenme Tarihi</th>
				<th class="prc" colspan="4">İşlemler</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="center"><input type="checkbox" /></td>
					<td>@item.Title</td>
					<td>@item.UserName</td>
					<td>@item.CommentCount</td>
					<td>@item.Hit</td>
					<td>
						<span style="color: #d15b47"><i class="fa fa-long-arrow-alt-down"></i> @item.DislikeCount</span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span style="color: #69aa46"><i class="fa fa-long-arrow-alt-up"></i> @item.LikeCount</span>
					</td>
					<td>@item.CreateAt.ToString("dd MMMM yyyy HH:mm")</td>
					<td class="option">
						<a href="javascript:void(0)" data-id="@item.ID" class="@(item.IsPinned.HasValue ? "" : "passive") pin-link" title="Anasayfaya Sabitle"><i class="fa fa-thumbtack"></i></a>
					</td>
					<td class="option">
						<a href="@Url.RouteUrl("ArticleEdit", new { id = item.ID })" class="green edit-link"><i class="fa fa-edit"></i></a>
					</td>
					<td class="option">
						<a href="javascript:void(0)" data-id="@item.ID" class="@(item.Status == 1 ? "blue" : "ban") ban-link"><i class="fa fa-ban"></i></a>
					</td>
					<td class="option">
						<a href="javascript:void(0)" data-id="@item.ID" class="remove delete-link"><i class="fa fa-times"></i></a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9">
					@Html.Pager((int)ViewBag.currentPage, (int)ViewBag.totalData, "/yazilar")
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<script>

	$(document).ready(function () {
		$('.pin-link').click(function () {
			var link = $(this);
			var id = $(this).data('id');

			$.ajax({
				type: 'POST',
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				url: '@Url.RouteUrl("ArticlePin")',
				data: { 'id': id },
				success: function (data) {

					if (data.status) {
						$('#alert').removeClass('danger').addClass('success');
						if (link.hasClass('purple')) {
							link.removeClass('purple').addClass('passive');
						} else {
							link.removeClass('passive').addClass('purple');
						}
					} else {
						$('#alert').removeClass('success').addClass('danger');
					}

					$('#alert .message').html(data.message);

					$('#alert').slideDown();
				}
			});
		});

		$('.ban-link').click(function () {
			var link = $(this);
			var id = $(this).data('id');

			$.ajax({
				type: 'POST',
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				url: '@Url.RouteUrl("ArticleBan")',
				data: { 'id': id },
				success: function (data) {

					if (data.status) {
						$('#alert').removeClass('danger').addClass('success');
						if (link.hasClass('ban')) {
							link.removeClass('ban').addClass('blue');
						} else {
							link.removeClass('blue').addClass('ban');
						}
					} else {
						$('#alert').removeClass('success').addClass('danger');
					}

					$('#alert .message').html(data.message);

					$('#alert').slideDown();
				}
			});
		});

		$('.delete-link').click(function () {
			var link = $(this);
			var id = $(this).data('id');

			var dialog = confirm("Yazıyı silme istediğinizden emin misiniz?");

			if (dialog == true) {
				$.ajax({
					type: 'POST',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					url: '@Url.RouteUrl("ArticleDelete")',
					data: { 'id': id },
					success: function (data) {

						if (data.status) {
							$('#alert').removeClass('danger').addClass('success');
							link.closest('tr').remove();
						} else {
							$('#alert').removeClass('success').addClass('danger');
						}

						$('#alert .message').html(data.message);

						$('#alert').slideDown();
					}
				});
			}
		});
	});

</script>